<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="yandex-verification" content="c08fc87e9cb4bc9b" />

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PileskyD">
  <meta name="apple-mobile-web-app-title" content="PileskyD">
  <meta name="msapplication-starturl" content="/">

  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/main.css">

  <title>Home</title>
</head>