<aside class="left-aside">
  <div class="navbar">
    <img class="logo" src="/assets/img/logo.svg">

    <h1 class="name">Pilesky Denis</h1>
    <small class="university">Vladivostok State University of Economics and Service</small>

    <nav class="navbar-menu">
      <a class="navbar-menu__item" href="/">Home</a>
      <a class="navbar-menu__item" href="/about.html">About</a>
      <a class="navbar-menu__item" href="https://blog.pileskyd.me/">Blog</a>
      <a class="navbar-menu__item" href="https://github.com/mrdenysu">GitHub</a>
      <a class="navbar-menu__item" href="https://t.me/mrdenysu">Telegram</a>
    </nav>

    <small class="copyright">Made with ❤️ by Pilesky Denis</small>
  </div>
</aside>