@import url(/src/font/stylesheet.css);

:root {
    /* Light | Dark */
    /* Elements color */
    --main-color: #414141
    /* Text color */
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Text */
    font-family: 'HarmonyOS Sans', -apple-system, sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}
