@import url(/assets/font/harmonyos-sans.css);

// Config
$black: #414141;
$white: #fefefe;
$dirty-white: #d7d7d7;
$opacity-black: #00000033;
$dirty-opacity-black: #00000099;

html, body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: $white;

  font-family: 'HarmonyOS Sans', -apple-system, sans-serif;
  font-size: 14px;
  color: $black;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75em;
  letter-spacing: 1px;
  font-weight: bold;
}

p {
  margin-bottom: 24px;
  line-height: 20px;
}

// Layout
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

// Left aside
.left-aside {
  width: 100%;
  background: url("/assets/img/3.jpg") center no-repeat;
  background-size: cover;
}

.navbar {
  background-color: $dirty-opacity-black;
  backdrop-filter: blur(25px);
  width: 320px;
  height: 100%;
  float: right;
  padding: 32px 0;
  text-align: center;
  color: $white;
  position: relative;

  &-menu {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    transition: opacity 0.1s linear;
    gap: 0.5em;

    &__item {
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      color: $dirty-white;

      &_active {
        color: $white;
        text-decoration: underline;
      }

      &:hover {
        color: $white;
      }
    }
  }
}


.logo {
  width: 128px;
  height: 128px;
  margin: 24px 0;
}

.name {
  color: $white;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 4px 8px $opacity-black;
}

.university {
  color: $white;
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: 0 4px 8px $opacity-black;
}

.copyright {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 32px;
  letter-spacing: 0.5px;
  color: $white;
  font-size: 8px;
  opacity: 0.5;
  text-shadow: 0 4px 8px $opacity-black;
}

// Content
main {
  overflow-y: hidden;
  background-color: $white;
  max-width: 800px;
  width: 100%;
  height: 100vh;
  padding: 24px 32px 32px;

  a {
    color: $black;
    font-style: italic;
    &:hover {
      color: $dirty-opacity-black;
    }
  }
}

// Right aside
.right-aside {
  width: calc(100% - 320px);
}

// Tablet
@media screen and (max-width: 840px) {
  .container {
    flex-direction: column;
  }

  .navbar {
    width: 100%;

    &-menu {
      margin: 32px 10px;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .logo {
    margin-top: 0;
  }

  main {
    overflow-y: unset;
    height: max-content;
    min-width: 100%;
  }

  .right-aside {
    display: none;
  }
}

@media screen and (min-width: 841px) {
  main {
    &:hover {
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      -moz-overflow-scrolling: touch;
      -ms-overflow-scrolling: touch;
      -o-overflow-scrolling: touch;
      overflow-scrolling: touch;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}